i{
    color:aliceblue;
    font-size:20px;
    margin: 12px;
}
button:hover{
    background-color: transparent;
    color: aliceblue;
    border-color: #9b94ffad;
}
#barraDeNav{
    background: #14141496;
    box-shadow:  0px 0px 15px #9b94ffad;
    backdrop-filter: blur(5px) ;
    border-bottom: 0.5px solid rgba(226, 228, 255, 0.87);
    position: sticky;
    top: 0px;
    z-index: 2;
    height: 75px;
}


@media (max-width:800px) {
    button{
        width: auto;
        height: auto;
        font-size: 0;
        margin: auto;
        border-color: #9b94ffda;
    }
    i{
        font-size:16px;
    }
    #log{
        margin: 0px;
    }
    button:hover{
        background-color: transparent;
        border-color: #9b94ffad;
    }
    img{
        width: 85px;
        object-fit:contain;
    }
    #boton{
        width: 40px;
        border:1px solid #c9c9c9f1 ;
        border-radius: 5px;


    }
}
