     <!--Navbar-->
     <div class="navbar navbar-light p-0 container-fluid" id="barraDeNav" >
        <div class="container-fluid">
          <div class="navbar-brand" href="#" id="col1">
            <img src="../../../assets/APLogo-20-20 1.png" alt="" width="120" height="39" class="d-inline-block align-text-center">
            <p class="text-light d-inline-block align-text-center" style="font-size: 12px;">#YoProgramo</p>
          </div>
          <div class="containers d-flex align-items-center justify-content-end ml-3">
            <a href="https://github.com/NicolasLLans" class="" target="_blank"><i class="bi bi-github col sticky-sm-top"></i></a>
            <a href="" target="_blank" class=""><i class="bi bi-youtube"></i></a>

            <button type="button"  *ngIf="!isLogged" class="col btn btn-outline-light" 
            routerLink="/login" id="boton">Login <i class="bi bi-box-arrow-in-right sticky-sm-top" id="log" alt="login"></i></button>
            <button type="button"  id="boton" class="col btn btn-outline-light" *ngIf="isLogged" 
            (click)="onLogOut()">Cerrar <i class="bi bi-box-arrow-in-right sticky-sm-top" id="log" alt="loginOut"></i>
            </button>
          </div>
        </div>
    </div>
