<!--Encabezado -->
<section class="card mx-3 my-3   mx-xl-5 " *ngFor="let Persona of personas" >
    <img [src]="Persona.banner" class="m-3" alt="Programación Full Stack" id="banner">
<div *ngFor="let Persona of personas" class="m-3" id="datosPersonales">
    <div class="borde">
        <img [src]="Persona.fotoPerfil" id="FotoDePerfil" class="col-auto img-responsive rounded-circle"  alt="Nicolás Lanselota">
        <a type="button"
        class=""
        (click)="editarTexto()">
            <a><i class="bi-pencil bi-solid"></i></a>
        </a>  
    </div>
    
    <!-- modal de edicion-->
    <div *ngIf="formVisibility">
        <form (ngSubmit)="onSubmit(Persona)">
                <p>Imagen de perfil</p>
                <input type="text" 
                [(ngModel)]="Persona.fotoPerfil"
                name="imagen"
                placeholder="URL de la imagen"
                class="form-control">
                <p>Imagen del banner</p>
                <input type="text" 
                [(ngModel)]="Persona.banner"
                name="banner"
                placeholder="URL del banner"
                class="form-control">
                <button type="submit" class="btn m-1 btn-primary">
                    Guardar cambios
                </button>
                <button type="close" class="btn m-1 btn-primary">
                    Cerrar
                </button>
        </form>                  
    </div>
    
    <H1 class="card-title m-2 mt-0">{{Persona.nombre}} {{Persona.apellido}}</H1>
    <H5 class="m-2 mt-0">{{Persona.titulo}}</H5>

    <p class="card-text m-2 mt-0">{{Persona.descripcion}} <a href="https://wa.me/+541122613168?text=Hola,%20muchos%20gusto.%20En%20que%20puedo%20ayudarte" target="_blank">información de contacto.</a></p>
</div>
</section>


