#bg{
    background: radial-gradient(circle  at top, #000000, transparent),
    radial-gradient(circle  at bottom,  #141414, transparent),
    radial-gradient(ellipse  at left,  #141414, transparent);
}
a{
    color: rgb(118, 113, 182);
}
a:hover{
    color: rgb(162, 156, 247);
}

