#foto{
    width: 50px;
    height: 50px;
}
section{
    background-color: rgb(238, 238, 238, 0.060); 
    backdrop-filter: blur(10px) ;
    color: #e7e7e7;
    border: solid #fde6d8 0.2px;
    box-shadow: inset 0px 0px 10px 0px #2317c0,0px 0px 5px 0px #2317c0, 0px 20px 40px 0px #beb9ff2c;
    z-index: 1;
}


p{
    font-size: 16px;
}
@media (max-width:700px) {
    
    h2{
        font-size: 18px;
    }
    
    p{
        font-size: 14px;
    }
    
}