section{
    background-color: rgb(238, 238, 238, 0.060); 
    backdrop-filter: blur(7px) opacity(60%);
    color: #e7e7e7;
    border: solid #fde6d8 0.2px;
    box-shadow: inset 0px 0px 10px 0px #2317c0,0px 0px 5px 0px #2317c0, 0px 20px 40px 0px #beb9ff2c;
    z-index: 1;
}
